<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <!--<li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>-->
          <li>
          <img src="{{ full_base_url }}/001.png">&nbsp;
          <span style="font-size:large;">Cyber Person</span>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <!--{% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}-->
          <li>
          <a href="mailto:{{ site.email }}" title="Написать письмо автору блога"><img src="{{ full_base_url }}/mailto.png" width="47px"></a>&nbsp;
          <a href="xmpp:{{ site.xmpp }}" title="Отправить автору сообщение"><img src="{{ full_base_url }}/xmpp.png" width="47px"></a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
